body{
    color: white;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232323;
}

li {
    float: left;
}

li:hover {
    background-color: #4B4B4B;
}

a {
    color:#7894FF;
}

a:visited {
    color:#B879FF;
}

li a {
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    color: #FFFFFF;
}

li a:visited{
    color: #FFFFFF;
}
