body{
    color: white;
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232323;
}

.topnav a {
    float: left;
}

.topnav:hover {
    background-color: #4B4B4B;
}

a {
    color:#7894FF;
}

a:visited {
    color:#B879FF;
}

.topnav a {
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    color: #FFFFFF;
}

.topnav a:visited{
    color: #FFFFFF;
}


footer p {
    font-size:x-small;
    text-align: center;
}